*{
    background-color: rgb(87, 234, 73);
    text-align: center;
   
}
div{
    color: rgb(242, 17, 17);
    padding: auto;
    border-radius: 10px;
    border: 20px solid rgb(176, 241, 37);
}